<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>co.uk.corvelsoftware.PendotDesigner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PendotDesigner</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string> <!-- 1.0 -->
	<key>CFBundleVersion</key>
	<string>100</string> <!-- 123 -->
	<key>productPageURL</key>
	<string>https://github.com/simoncozens/Dotter</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Simon Cozens, 2023</string>
	<key>NSPrincipalClass</key>
	<string>PendotDesigner</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
